:root {
    /* font-size: 20px; */

    --colour-bg-desktop: white;
    --colour-nav-mobile: #BB9C8E;
    --colour-bg-header:#383428;
    --colour-bg-footer:#383428;
    --colour-text: #C6C6C6;
    --colour-main:#F9943B;
}
    
body {
    background-color: var(--colour-bg-desktop);
    margin: 0;
    padding: 0;
    color: var(--colour-text);
    cursor: default;
}

a {
    color: var(--colour-text);
    cursor: pointer;
}

a:active,
a:hover {
    color: none;
}

button {
    cursor: pointer;
    border: none;
    box-shadow: 0px 3px 1px var(--colour-nav-mobile);
}

.clear {
    clear: both;
}





/* home page style */
/* banner */
#banner #carousel-wrap {
	position: relative;
	margin: 20px auto;
	width: 100%;
	overflow: hidden;
}

#banner #carousel-wrap #carousel-images {
	position: absolute;
	border: 0;
	outline: none;
	white-space: nowrap;
	width: 100%;
	margin: 0px; 
}

#carousel-images > img {
    width: 100vw;
    height: 40vw;
}

.arrow-contain {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    margin: 20vw 40px;
}

.arrow-contain > .arrow {
    width: 40px;
    height: 40px;
    opacity: 0.5;

    background-color: #80D49F;
	color: lightgray;
	transform: translateY(-50%);
	cursor: pointer;
	transition-property: opacity;
	transition-duration: 0.5s;
}

#banner #carousel-wrap .arrow:hover {
	opacity: 1;
}

#banner #carousel-wrap .left-arrow {
	left: 40px;
}

#banner #carousel-wrap .right-arrow {
	right: 40px;
}

#banner #carousel-wrap #dots {
	position: absolute;
	bottom: 10px;
	left: 50%;
	transform: translateX(-50%)
}

#banner #carousel-wrap .dot {
	background-color: var(--colour-text);
	display: inline-block;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	margin: 4px;
	cursor: pointer;
}

#banner #carousel-wrap .active {
    width: 40px;
    height: 10px;
    border-radius: 6px;
    background-color:#80D49F;
	opacity: 1;
}

.transition {
	transition-property: left;
	transition-duration: 2s;
}

/* New Arrivals - mobile ver*/
h2 {
    color: var(--colour-bg-footer);
    margin-top: 40px;
}

.one-product {
    width: 250px;
    height: 350px;
    background-color: #DBDBDB;
    border-radius: 10px;

    margin: 0 auto 30px auto;
    position: relative;
}

.game-type {
    color: #80D49F;

    display: flex;
    margin: 15px;
    padding-top: 15px;
}

.each-block > .one-product {
    margin: 30px auto 30px auto;
    padding: 0%;
}

.each-block .game-type {
    padding-top: 15px;
}

.best-sale-contain {
    display: block;
    width: 80px;
    height: 25px;
    background-color: #A30414;
    border-radius: 0 10px 0 10px;
   
    color: white;
    position: absolute;
    right: 0px;
    top: 0px;
    line-height: 25px;
}

.sale-contain {
    width: 40px;
    height: 40px;
    background-color: var(--colour-main);
    color: white;
    border-radius: 10px;
    line-height: 15px;
    position: absolute;
    left: 50px;
}

.sale-contain > span {

    margin: 0;
    padding: 0;
}

.out-of-stock {
    width: 70px;
    height: 20px;
    background-color: #B777FF;
    color: white;
    border-radius: 10px;

    position: absolute;
    top: 180px;
    left: 130px;
    line-height: 20px;
}

.product-img-contain {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: white;
    margin: 20px auto;
}

.product-img-contain img {
    width: 100px;
    height: 100px;
    margin: 25px;
}

.product-img-contain img:hover {
    transform: scale(1.5);
    border-radius: 50%;
    box-shadow: 0 10px 50px 0 var(--colour-main);
}

.product-name {
    color: var(--colour-bg-footer);
    
    margin: auto;

}

.price-contain {
    margin-top: 20px;
    margin-bottom: 10px;
}

.true-price {
    color: #CE4A0E;
}


.add-to-cart {
    width: 120px;
    height: 30px;
    border-radius: 10px;
    background-color: var(--colour-main);
    color: white;

    margin-right: 25px;
    opacity: 1;
}

.add-to-cart:hover {
    background-color: #CE4A0E;
}

.disabled {
    opacity: 0.2;
    cursor: not-allowed;
}

.disabled:hover {
    color: none;
}

.add-to-wish-list {
    width: 30px;
    height: 30px;
    background: none;
    border: 2px solid var(--colour-main);
    border-radius: 6px;
    padding: 0;
}

.add-to-wish-list:hover {
    background-color: #CE4A0E;
    transition: 1s linear;
}

.add-to-wish-list > img {
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

.arrow-new-arrivals-contain {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
}

.arrow-new-arrivals {
    width: 80px;
    height: 40px;
    margin: 0 20px 20px 20px;
    background: none;
    color: black;
    border: 2px solid black;
    border-radius: 10px;

}

.arrow-new-arrivals:hover {
    background-color: var(--colour-main);
}

#new2, #new3, #new4 {
    display: none;
}

@media screen and (min-width:1000px ) {
    .product-contain {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: row;
    }

    .game-type {
        padding-top: 0;
    }

    #new2 {
        display: block;
    }

    .featured-product-contain {
        display: flex;
        flex-wrap: wrap;
    }
 
    .featured-product-contain > .each-block {
        width: 24%;
    }

    .featured-product-contain > .each-block:not(:nth-child(4n)) {
        margin-right: calc(4%/3);
    }
}

/* about Our store - mobile ver*/
.about-store {
    background-color: var(--colour-main);
    margin: 25px 0;
    padding: 20px 0 50px;
}

.about-store > h2 {
    margin: 0 auto 30px;
    color: white;
}

.paragraph {
    padding: 0 20px;
}

.paragraph1 {
    display: grid;
    grid-template-columns: 2fr 1fr;

}

.paragraph1 > img {
    width: 140px;
    height: 110px;
    margin: 0 20px 20px 20px;
}

.about-store p {
    color: var(--colour-bg-footer);

    margin: 0;
}

/* featured games - mobile ver*/
#featured-games {
    margin-bottom: 100px;
}

.featured-bnt-contain {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
}

.feat-bnt {
    margin: 10px 15px;
    width: 100px;
    height: 30px;
    background-color: white;
    color: var(--colour-text);
    border: 2px solid var(--colour-bg-footer);
    border-radius: 10px;

}

.feat-bnt-active,
.feat-bnt:hover {
    border: none;
    background-color: var(--colour-bg-footer);
    color: white;
}

.more-bnt {
    float: right;
    margin-right: 4%;
}

.more-bnt::after {
    clear: both;
    display: block;
}


/* product_list page style - mobile ver*/
/* page title */
.page-title-contain {
    height: 120px;
    background-color: var(--colour-main);
    margin: 40px auto;
    padding: 30px 65px;

}

.page-nav {

    color: #CE4A0E;
}

.page-nav a {

    color: black;
}

.page-nav a:hover {
    color: #CE4A0E;
    border-bottom: 1px solid #CE4A0E;
}

.page-title {

    color: white;
}


/* filter box */
.filter-contain {
    width: 400px;

    margin-left: 10vw;
    padding: 0;
    display: none;
}

.filter-contain > li {
    list-style: none;
    border-bottom: 2px solid var(--colour-text);
    padding: 10px 0 20px 0;
}

.filter-title {

    color: black;
}

/* filter search bar */
.filter-search-text {
    width: 400px;
}

/* Available */
.switch-btn{
	width: 45px;
	height: 25px;
	position: relative;
	top: 1px;
    float: left;
}
.hidden-checkbox,
.switch-area,
.switch-toggle{
	position: absolute;
	top: 0;
	left: 0;
}
.hidden-checkbox{
	width: 45px;
    height: 25px;
	opacity: 0;
	z-index: 10;
	cursor: pointer;
}
.switch-area{
	width: 100%;
	height: 100%;
	border-radius: 25px;
	background-color: var(--colour-text);
    border: 1px solid var(--colour-text);
}
.switch-toggle{
	width: 25px;
	height: 25px;
	border: 1px solid var(--colour-text);
	border-radius: 50%;
	background-color: white;
}
.hidden-checkbox:checked ~ .switch-area{
	background-color: #CE4A0E;
}
.hidden-checkbox:checked ~ .switch-toggle{
	border: 1px solid #CE4A0E;
	left: 20px;
}
.switch-area,
.switch-toggle{
	-webkit-transition: All 0.3s ease; 
	   -moz-transition: All 0.3s ease; 
	     -o-transition: All 0.3s ease;
	        transition: All 0.3s ease; 
}
.available-contain> span {
    float: right;
}

/* price range */
.price-range > p:nth-child(1) {
    float: left;
}
.price-range > p:nth-child(2) {
    float: right;
}
.price-range > input[type="range"] {
    -webkit-appearance: none;
    width: 400px;
    height: 10px;
    border-radius: 6px;
    outline: none;
    background: var(--colour-text);
}
.price-range > input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance: none;
    position: relative;
    width:20px;
    height:20px;
    background:var(--colour-main);
    border-radius:50%;
    transition:.2s;
}

/* filter Category */
.category-contain ul{
    list-style: none;
}
.each-cate-filter {
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.board-filter {
    color: black;
}
.cate-checkbox {
    width: 20px;
    height: 20px;
}

/* product-display */
/* function bar layout*/
.function-bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    margin-left: 65px;
}
.function-bar > div {
    margin-bottom: 20px;
}
/* layout shown button */
.layout-change-contain {
    width: 130px;
    height: 50px;
    border: 2px solid black;
    border-radius: 10px;
}
.layout-change-contain button {
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    box-shadow: none;
}
.layout-change-contain img {
    margin: 11px 15px;
}
.layout-change-contain > button:nth-child(1) {
    border-right: 1px solid black;
}

/* page num navigation */
.page-num-contain {
    width: 250px;
    height: 45px;
    border-top: 1px solid var(--colour-text);
    border-bottom: 1px solid var(--colour-text);
    margin: 10px 0;
}
.page-num-contain button{
    box-shadow: none;
    margin: 15px 5px;
}
.page-active {
    background-color: black;
    color: white;
}

/* sort bar */
.sort-bar-contain {
    width: 240px;
    margin: 20px 0;
}

.sort {
    width: 240px;
    height: 40px;
    outline: none;
    border-radius: 18px;
    border: 1px solid #ccc;

    float: left;
}

.sort-btn {
    border: none;
    box-shadow: none;
    height: 35px;
    width: 35px;
    background: none;
    float: right;
    margin-top: -37px;
}

.page-num-bottom {
    margin: 60px auto;
}


/* product detail page */
/* product images shown */
.product-imgs-contain {
    margin: 50px auto;
}
.main-img-shown,
.product-main-img {
    width: 300px;
    height: 300px;
}
.main-img-shown {
    margin: auto;
    position: relative;
}
.product-main-img:hover {
    transform: scale(1.25);
    border-radius: 50%;
    box-shadow: 0 10px 50px 0 var(--colour-main);
}
.arrow-circle {
    display: flex;
    justify-content: space-between;
    margin-top: -165px;
}
.zoom-in {
    width: 300px;
    margin: auto;

    align-items: center;
    
    color:  black;
}
/* imgs list */
.imgs-list-desktop,
.zoom-in-desktop {
    display: none;
}
.imgs-list {
    margin: 10px auto;
}
.img-list {
    vertical-align: middle;
    margin: 0 15px;
}
.img-list:nth-child(1) {
    width: 80px;
    height: 80px;
    border: 2px solid black;
}
/* product title and price */
.product-title-price-contain {
    color: black;

    margin: auto 10vw;
}
.product-title-price-contain button {
    box-shadow: none;
    padding: 10px;
}
.sale-stock-tags {
    margin: 25px 0;
}
.sale-info,
.stock-info {
    background-color: var(--colour-main);
    color: white;

    padding: 10px;
    border-radius: 10px;
}
.stock-info {
    background-color: #80D49F;
}
.product-title {

    margin-bottom: 5px;
}
.star-rate {
    margin-bottom: 40px;
}
.detail-price-contain {
    display: flex;

    align-items: center;
    margin-bottom: 30px;
}
.detail-price-contain > .true-price {

    margin-right: 15px;
}
.save-price {
    color: #80D49F;
}

.check-out-bnt {
    background-color: var(--colour-nav-mobile);
    color: white;

    width: 295px;
    border-radius: 10px;
    margin-bottom: 20px;
}
.check-out-bnt:hover {
    background-color: var(--colour-bg-footer);
    transition: all 1s;
}
.num-cart-wish {
    text-align: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    padding-bottom: 45px;
    border-bottom: 2px solid var(--colour-text);
}
.num-cart-wish > div {
    background-color: var(--colour-text);
    width: 40px;
    height: 40px;

    border-radius: 10px;
}
.num-cart-wish > button {
    width: 210px;
    height: 40px;
    background-color: var(--colour-main);
    color: white;

    border-radius: 10px;
}
.num-cart-wish > button:hover {
    background-color: #CE4A0E;
    transition: all 1s;
}
.num-cart-wish > img {
    vertical-align: middle;
}
.product-info-contain {
    color: #F8D15E;

}
.product-info-title {
    color: black;

}
.product-info-contain div {
    margin: 10px 0;
}
/* product description */
.product-description {

    margin: 25px 10vw;
}
.product-description > button {

    margin: 10px 20px 10px 0;
    padding: 10px;
    box-shadow: none;
    color: var(--colour-text);
    background-color: white;
    border: 2px solid var(--colour-bg-footer);
    border-radius: 10px;
}
.product-description > button:nth-child(1)  {
    background-color: var(--colour-bg-footer);
    color: white;
}
.description-content {
    padding: 10px;
    margin-top: 20px;
    background-color: var(--colour-text);
    color: black;

    border-radius: 10px;
}
.description-content > p {
    margin: 0;
}
/* related products */
.related-product-contain {
    background-color: var(--colour-nav-mobile);
    padding: 5px 0;
}
.more-bnt-related {
    float: right;
    margin-right: 65px;
    margin-bottom: 50px;
}


/* shopping cart page - mobile ver */
/* cart table - mobile ver */
.cart-table-desktop {
    display: none;
}
.cart-table-mobile {
    width: 355px;
    margin: 40px auto 20px auto;
}
.cart-table-mobile thead th {
    background-color: var(--colour-main);
    color: white;

    border: 1px solid var(--colour-bg-footer);
}
.cart-table-mobile tbody tr {
    background-color: var(--colour-text);
    color: black;
    border: none;
    border-bottom: 2px solid var(--colour-bg-footer);

    padding-top: 10px;
}
.cart-table-mobile tbody tr:hover {
    background-color: #80D49F;
    transition: all 1s;
}
.product-cart-img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 10px auto;
}

.cart-table-mobile tbody td:nth-child(2) p {
    margin: -10px auto 20px auto;
}


/* coupon bar */
.coupon-contain {

    margin: auto;
    margin-bottom: 50px;
    padding-bottom: 25px;
    border-bottom: 2px solid var(--colour-text);
}
.coupon-contain input[type="text"] {
    width: 350px;
    height: 50px;
    border: 2px solid var(--colour-bg-footer);
    border-radius: 10px;

}
.coupon-contain input[type="button"] {
    width: 160px;
    height: 40px;
    border: none;
    border-radius: 10px;
    background-color: var(--colour-text);
    color: white;

    margin: 10px 0 0 200px;
    cursor: pointer;
}
.coupon-contain input[type="button"]:hover {
    background-color: var(--colour-bg-footer);
    transition: all 1s;
}
/* cart totals */
.cart-total-title {

    margin-left: 10px;

}
.cart-total-table {

    margin-bottom: 30px;
}
.cart-total-table td {
    padding: 20px;
    border: 1px solid var(--colour-nav-mobile);
}
.cart-total-table tr td:nth-child(odd) {
    background-color: var(--colour-main);
    color: white;

}
.cart-total-table tr td:nth-child(even) {
    color: black;

}
.cart-total-table img {
    width: 20px;
    height: 15px;
}

.change-address {
    color: var(--colour-main);
}
.proceed-checkout {
    width: 350px;
    height: 40px;
    box-shadow: none;
    background-color: var(--colour-main);
    color: white;

    border-radius: 10px;
    margin-bottom: 50px;
}
.proceed-checkout:hover {
    background-color: #CE4A0E;
    transition: all 1s;
}


/* login */
.login-form {
    margin: 50px 5vw;
    padding: 0 5vw;

    border: 2px solid var(--colour-bg-footer);
    border-radius: 10px;
    background-color: var(--colour-text);
}
.login-form div {
    margin: 30px auto;
}
.login-form div label {

    color: var(--colour-main);
}
.login-form div input {
    width: 98%;
    height: 20px;
    border-radius: 5px;
}
.login-form > input,
.login-form button {
    width: 150px;
    height: 30px;
    border-radius: 5px;
    background-color: var(--colour-main);
    color: white;

    border: none;
    box-shadow: 0px 3px 1px var(--colour-nav-mobile);
    margin: 0 0 20px 0;
}
.login-form > input:hover,
.login-form button:hover {
    background-color: #CE4A0E;
}
.login-form a {
    color: black;

    margin-left: 10px;
}


/* checkout shipping page */
/*  process shown bar */
.process-shown-contain {
    width: 80%;
    height: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;

    color: black;
    list-style: none;
    padding: 0;
    margin: 25px 10%;
}
.process-shown-contain  > li:nth-child(1),
.process-shown-contain  > li:nth-child(3) {
    margin-right: 15%;
}
.process-shown-contain  > li:nth-child(3) {
    margin-left: -1%;
}
.process-shown-contain  > li:nth-child(5) {
    margin-left: -4.5%;
}
.circle {
    width: 50px;
    height: 50px;
    background-color: var(--colour-text);
    border-radius: 50%;

    margin: auto;
}
.process-shown-contain p {

    margin-top: 5px;
}
.step-now {
    background-color: var(--colour-main);
    color: white;
}
.line-between {
    width: 18%;
    height: 2px;
    margin-left: -16%;
    margin-top: 25px;
    margin-right: 0;
    padding: 0;
    background-color: var(--colour-text);
}
/* coupon */
.expand-coupon-bnt-contain {
    display: flex;
    width: 80%;
    height: 50px;
    margin: 50px auto 25px auto;
    padding: 10px 15px 0 15px;
    background-color: var(--colour-text);
    color: black;
    
    border-radius: 10px;
    border-top: 2px solid var(--colour-bg-header);
}
.expand-coupon-bnt-contain a {
    color: #CE4A0E;
}
.expand-coupon-bnt-contain a:hover {
    border-bottom: 2px solid #CE4A0E;
}
.expand-coupon-bnt-contain img {
    width: 25px;
    height: 25px;
    margin-right: 10px;
}
#coupon-enter-contain {
    display: none;
    width: 80%;
    margin: 25px auto;
    padding: 10px 15px;
    color: black;

    border-radius: 10px;
    border: 3px solid var(--colour-nav-mobile);
    box-shadow: 0px 3px 1px var(--colour-nav-mobile);
}
#coupon-enter-contain p {
    margin-top: 0;
}
#coupon-enter-contain input[type="text"] {
    width: 95%;
    height: 30px;
    border: 2px solid var(--colour-bg-header);
    border-radius: 10px;
    margin-bottom: 15px;

}
#coupon-enter-contain input[type="button"] {
    width: 60%;
    height: 40px;
    border: none;
    border-radius: 10px;
    background-color: var(--colour-text);
    color: white;

    cursor: pointer;
    margin-left: calc(40% - 15px);
}
#coupon-enter-contain input[type="button"]:hover {
    background-color: var(--colour-bg-footer);
    transition: all 1s;
}
/* order summary */
.order-sum-contain {
    margin-bottom: 50px;
}
.expand-order-sum-contain {
    width: 80%;
    height: 50px;
    margin: 50px auto 0 auto;
    padding: 10px 15px 0 15px;
    background-color: var(--colour-text);
    color: #CE4A0E;
    vertical-align: middle;
   
    border-radius: 10px 10px 0 0;
    border-top: 2px solid var(--colour-bg-header);
    cursor: pointer;
}
.expand-order-sum-contain img:first-child {
    margin-right: 20px;
}
.expand-order-sum-contain .sum-up-arrow {
    margin-right: 10%;
}
.sum-up-arrow-rotate {
    transform: rotate(180deg);
}
#order-sum-table,
.order-list-table {
    display: none;
    margin-top: 0;
    color: black;

    margin: auto calc(10% - 15px);
}
#order-sum-table td,
.order-list-table td {
    width: 50vw;
    padding: 5px 25px;
    background-color: #EEEEEE;
    border-top: 2px solid var(--colour-nav-mobile);

    vertical-align: middle;
}

#order-sum-table tr:last-child td:first-child, 
.order-list-table tr:last-child td:first-child {
    border-radius: 0 0 0 10px;
    box-shadow: 0px 3px 1px var(--colour-nav-mobile);
}
#order-sum-table tr:last-child td:last-child,
.order-list-table tr:last-child td:last-child {
    border-radius: 0 0 10px 0;
    box-shadow: 0px 3px 1px var(--colour-nav-mobile);
}
#order-sum-table tr:first-child td:first-child,
.order-list-table tr:first-child td:first-child {
    position: relative;
}
.order-sum-img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 10px auto;
}
.item-title {
    position: absolute;
    left: 95px;
    top: 40px;
}
.one-item {
    position: absolute;
    left: 70px;
    top: 20px;
}

/* billing details */
.billing-detail,
.shipping-detail {
    width: 80%;
    margin: 50px auto;
    background-color: #BB9C8E;
    border: 5px solid var(--colour-nav-mobile);
    border-radius: 10px;

    padding: 0 15px;
    box-shadow: 0px 3px 1px var(--colour-main);
}

.billing-detail form,
.shipping-detail form {

    color: black;
}
.billing-detail form > div,
.shipping-detail form > div {
    margin-bottom: 15px;
}
.billing-detail span {
    color: #CE4A0E;
}
.billing-detail input,
.shipping-detail input {
    width: 100%;
    height: 30px;
    border: 2px solid var(--colour-text);
    border-radius: 6px;
    margin: 5px 0;

}
.billing-detail input:hover,
.shipping-detail input:hover {
    border-color: var(--colour-bg-header);
}
/* shipping detail */
.shipping-detail h2 {
    display: grid;
    grid-template-columns: 3fr 1fr;

}
/* ship buttons */
.return-to-cart {
    color: #CE4A0E;

    padding-bottom: 25px;
}
.return-to-cart a {
    color: #CE4A0E;
}
.return-to-cart a:hover {
    border-bottom: 2px solid #CE4A0E;
}
.ship-bnts button {
    box-shadow: none;
    width: 80%;
    margin: auto;
    background-color: var(--colour-main);
    color: white;

    border-radius: 10px;

    padding: 15px;
}
.ship-bnts button:hover {
    background-color: #CE4A0E;
    transition: all 1s;
}
.privacy-policy {

    width: 80%;
    margin: 25px auto;
    color: black;

}
.privacy-policy > span {
    color: var(--colour-main);
}

/* checkout payment */
.payment-step-active .circle {
    background-color: var(--colour-main);
    color: white;
}
.line-active1 {
    background-color: var(--colour-main);
}
.order-list table {
    display: block;
}
.order-list > h2,
.payment-method-contain > h2 {
    margin: 60px calc(10% - 15px) 25px;

}
.order-list-table tr:first-child td:first-child {
    border-radius: 10px 0 0 0;
}
.order-list-table tr:first-child td:last-child {
    border-radius: 0 10px 0 0;
}
/* payment method */
.payment-method-contain > div {
    width: 80%;
    margin: 20px auto 0 auto;
    padding: 20px 15px;
    background-color: #EEEEEE;
    color: black;

    border-radius: 10px;
}
.payment-checkbox {
    background-color: white;
    border-radius: 50%;
    border: 2px solid var(--colour-main);
    width: 20px;
    height: 20px;
    display: inline-block;

    vertical-align: middle;

    margin-right: 20px;
}
.option1 > input[type="checkbox"],
.option2 > input[type="checkbox"] {
    display: none;
}
.option1 > input[type="checkbox"]:checked + .payment-checkbox,
.option2 > input[type="checkbox"]:checked + .payment-checkbox {
    position: relative;
}
.option1 > input[type="checkbox"]:checked + .payment-checkbox::after,
.option2 > input[type="checkbox"]:checked + .payment-checkbox::after {
    content: "";
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    background: var(--colour-main);
    border: white solid 2px;
    height: 12px;
    width: 12px;
}
.method-bnt {
    width: 100px;
    height: 30px;
    background-color: white;
    color: var(--colour-text);
    border: 2px solid var(--colour-bg-footer);
    border-radius: 10px;

}
.method-bnt:nth-child(3){
    width: 80px;
}
.method-bnt-active,
.method-bnt:hover {
    border: none;
    background-color: var(--colour-bg-footer);
    color: white;
}

.payment-form > div {
    margin: 15px auto;
}
.payment-form input {
    width: 99%;
    height: 30px;
    border: 2px solid var(--colour-text);
    border-radius: 10px;

}
.master-pay {
    width: 60px;
    height: 40px;
    float: right;
    margin-top: -30px;
}
.vali-cvv {
    display: flex;
    justify-content: space-between;
}
.vali-cvv > div {
    width: 40%;
}
.ship-bnts-step2 {
    margin: 25px 0;
}
/* checkout process step3 */
.confirmation-contain > h2 {
    margin: 60px calc(10% - 15px) 25px;

}
.confirmation-contain > div {
    width: 80%;
    margin: 20px auto 0 auto;
    padding: 20px 15px;
    color: black;

    border-radius: 10px;
    border: 2px solid var(--colour-nav-mobile);
}
.confirmation-contain > div > div:first-child {
    width: 150px;
    height: 150px;
    background-color: var(--colour-text);
    margin: 50px auto;
    vertical-align: middle;
    border-radius: 50%;
}
.confirmation-contain > div > div:first-child > img {
    margin-top: 50px;
}
.confirmation-contain > div > div:nth-child(2) {

    margin-bottom: 25px;
}
.ship-bnts-step3 {
    margin: 70px auto 50px auto;

}
.ship-bnts-step3 button {
    margin-bottom: 20px;

}
.ship-bnts-step3 a button {
    background-color: var(--colour-text);
}




/* desktop version */
@media screen and (min-width:1750px ) {

    /* New arrivals  - desktop ver*/


    #new2, #new3, #new4 {
        display: block
    }

    /* about our store  - desktop ver*/
    .paragraph {
        padding: 0 50px;
    }

    .paragraph1 > img {
        width: 640px;
        height: 500px;
    }




    /* product_list page style - desktop ver*/
    /* page title */
    .page-title-contain {
        height: 200px;
        padding: 50px 10vw;
    }



    /* product-page whole */
    .product-list-page-contain {
        display: grid;
        grid-template-columns: 1fr 2fr;
    }
    /* filter box */
    .filter-contain {
        display: block;
    }

    .product-display {
        margin-right: 10vw;
    }

    .function-bar > div {
        margin: 20px;
        margin-left: 50px;
    }

    .products-list-shown {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        margin-left: 65px;
    }

    .products-list-shown .each-block {
        margin: 0 25px;
    }

    /* Product detail */
    .product-img-and-price-detail-contain {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: start;
        align-items: baseline;
        margin: auto 5vw;
    } 
    .imgs-list,
    .zoom-in {
        display: none;
    }
    .imgs-list-desktop,
    .zoom-in-desktop {
        display: block;
    }
    .imgs-list-desktop > img {
        margin-bottom: 100px;
    }
    .main-img-shown,
    .main-img-shown > img {
        width: 550px;
        height: 550px;
    }
    .arrow-circle {
        margin-top: -300px;
    }
    .zoom-in-desktop {
        margin-top: 250px;
        margin-right: -450px;
        color: black;
    }
    .product-imgs-contain {
        display: flex;
        align-items: center;
    }
    .product-title-price-contain {
        margin: auto 0;
        padding-left: 8vw;
        border-left: 2px solid var(--colour-text);
    }
    .check-out-bnt-contain,
    .check-out-bnt {
        width: 600px;
    }
    .num-cart-wish > button {
        width: 400px;
    }

    .description-content {

        margin-bottom: 100px;
        padding: 20px;
    }


    /* shopping cart */
    /* cart table */
    .cart-table-mobile {
        display: none;
    }
    .cart-table-desktop {
        display: block;

        margin: 100px auto 50px 10vw;
    }
    .cart-table-desktop thead {
        background-color: var(--colour-main);
        color: white;

    }
    .cart-table-desktop th {
        padding: 35px 70px;
        border: 1px solid var(--colour-bg-footer);
    }
    .cart-table-desktop tbody {
        background-color: var(--colour-text);
        color: black;
    }
    .cart-table-desktop tbody tr:hover {
        background-color: #80D49F;
        transition: all 1s;
    }
    .cart-table-desktop td {
        padding: 20px 70px;

    }
    .cart-table-desktop td img:nth-child(1) {
        width: 50px;
        height: 50px;
    }
    .product-cart-img {
        transform: scale(2.5);
    }
    .num-bar {
        transform: scale(2.5);
    }

    /* coupon */
    .coupon-contain {
        margin: auto 10vw 100px 10vw;
        display: grid;
        grid-template-columns: 1fr 4fr 1fr;
        padding-bottom: 100px;
        border-bottom: 2px solid var(--colour-text);
    }
    .coupon-contain input[type="button"] {
        margin: auto 40px;
    }
    /* cart totals */
    .cart-total-title {
        margin-left: 10vw;
    }
    .cart-total-table td {
        padding: 40px 100px;
    }

    .cart-total-table tr td:nth-child(even) {
        padding-right: 500px;
    }
    .cart-total-table img {
        width: 70px;
        height: 50px;
    }
    .proceed-checkout {
        width: 500px;
        height: 80px;

        float: right;
        margin-right: 10vw;
    }

    
    /* login */
    .login-form {
        margin: 50px 10vw;

    }
    .login-form div input {
        height: 30px;
    }
    .login-form > input,
    .login-form button {
        width: 20%;
        height: 40px;
        margin: 0 0 50px 0;
    }



    /* checkout process page */
    /* coupon + order summary*/
    .order-sum-coupon-contain,
    .details-contain {
        display: grid;
        grid-template-columns: 50% 50%;
    }
    .expand-order-sum-contain,
    .expand-coupon-bnt-contain,
    #coupon-enter-contain {
        width: 750px;

        padding: 25px;
        margin: 50px auto;
    }

    .expand-order-sum-contain {
        margin-bottom: 0;
    }
    .expand-coupon-bnt-contain img,
    .expand-order-sum-contain img {
        width: 50px;
        height: 50px;
    }
    #order-sum-table,
    .order-list-table {
        width: 800px;

        margin: 0 auto;
    }
    #order-sum-table td,
    .order-list-table td {
        padding: 5px 25px;

    }
    .order-sum-img {
        width: 100px;
        height: 100px;
    }
    .expand-order-sum-contain .sum-up-arrow {
        margin-right: 30%;
        width: 25px;
        height: 25px;
    }
    .one-item {
        width: 30px;
        height: 30px;
        left: 80px;
    }
    .item-title {
        left: 150px;
        top: 50px;
    }

    /* billing detail + shipping detail */
    .billing-detail,
    .shipping-detail {
        width: 750px;

        padding: 0 25px;
        margin: 50px auto;
    }
    /* ship buttons */
    .ship-bnts {
        display: grid;
        grid-template-columns: 50% 50%;
    }
    .return-to-cart {

        margin-left: 10%;
    }
    .place-order {

        margin-right: 10%;
    }

    /* checkout process step2 */
    /* payment method */
    .payment-content-contain {
        display: grid;
        grid-template-columns: 50% 50%;
    }
    .payment-method-contain > div {
        width: 750px;

        padding: 20px 25px;
        margin: 20px auto;
    }

    /* checkout process step3 */
    .confirm-content-contain {
        display: grid;
        grid-template-columns: 50% 50%;
    }
    .confirmation-contain > div {
        width: 750px;

        padding: 20px 25px;
        margin: 20px auto;
    }
    
}


