:root {
    --colour-bg-desktop: white;
    --colour-nav-mobile: #BB9C8E;
    --colour-bg-header:#383428;
    --colour-bg-footer:#383428;
    --colour-text: #C6C6C6;
    --colour-main:#F9943B;
    --font-primary: "Segoe UI", sans-serif;
    --font-secondary: Arial, serif;
    --text-base-size: 20px;
} 
  
body {
    font-family: var(--font-primary);
    font-size: var(--text-base-size);
    font-weight: normal;
    text-align: center;
    color: var(--colour-text);
    background-color: var(--colour-bg-desktop);
    margin: 0;
    padding: 0;
    cursor: default;
}

a {
    text-decoration: none;
    color: var(--colour-text);
    cursor: pointer;
}

a:active,
a:hover {
    color: none;
}

button {
    cursor: pointer;
    border: none;
    box-shadow: 0px 3px 1px var(--colour-nav-mobile);
}

.clear {
    clear: both;
}


/* side bar */
.side-bar {
    width: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    position: fixed;
    left: calc(100% - 40px);
    top: 370px;
    z-index: 5;
}

.side-bar > a {
    width: 40px;
    height: 40px;
    background-color: #CE4A0E;
    margin: 2px 0;
}

.side-bar img {
    margin: 10px auto;
}
