:root {
    font-size: 20px;
    --font-primary: "Segoe UI", sans-serif;
    --font-secondary: Arial, serif;
    --colour-bg-desktop: white;
    --colour-nav-mobile: #BB9C8E;
    --colour-bg-header:#383428;
    --colour-bg-footer:#383428;
    --colour-text: #C6C6C6;
    --colour-main:#F9943B;
}
    
body {
    font-family: var(--font-primary);
    background-color: var(--colour-bg-desktop);
    text-align: center;
    margin: 0;
    padding: 0;
    color: var(--colour-text);
    cursor: default;
}

a {
    text-decoration: none;
    color: var(--colour-text);
    cursor: pointer;
}

a:active,
a:hover {
    color: none;
}

button {
    cursor: pointer;
    border: none;
    box-shadow: 0px 3px 1px var(--colour-nav-mobile);
}

.clear {
    clear: both;
}

/* nav-bar - mobile ver */
.nav_mobile_contain {
    background-color: var(--colour-bg-header);
}

.nav_mobile {
    display: flex;
    justify-content: center;
    height: 100px;
}

.logo_mobile {
    background-color: white;
    width: 80px;
    height: 60px;
    border-radius: 10px;
    margin: 20px 5px 0;
}

.logo_mobile img {
    width: 80px;
    height: 50px;
    margin: 10px auto;
}

.home_bnt,
.cart_bnt,
.wish_list_bnt,
.login_bnt {
    background-color: white;
    width: 80px;
    height: 50px;
    border-radius: 10px;
    margin: 20px 5px 0;
}

.home_bnt:hover,
.cart_bnt:hover,
.wish_list_bnt:hover,
.login_bnt:hover {
    background-color: var(--colour-main);
}

.home_bnt img,
.cart_bnt img,
.wish_list_bnt img,
.login_bnt img {
    margin: 10px auto;
}

.home_bnt p,
.cart_bnt p,
.wish_list_bnt p,
.login_bnt p {
    font-size: 12px;
    color: var(--colour-text);
    font-family: var(--font-secondary);
    margin: auto;
}

.nav_desktop,
.logo_desktop {
    display: none;
}

#head_category_list {
    display: none;
}

/* search bar - mobile ver*/
.search_bar_box {
    width: 240px;
    margin: 20px 0;
}

.search {
    width: 240px;
    height: 40px;
    outline: none;
    border-radius: 18px;
    border: 1px solid #ccc;
    text-indent: 10px;
    float: left;
}

.search_btn {
    border: none;
    box-shadow: none;
    height: 35px;
    width: 35px;
    background: none;
    float: right;
    margin-top: -37px;
}

/* hamburger menu */
.logo_bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;  
}

#ham_icon {
    height: 42px;
    width: 42px;
    margin: 20px 25px;
    border: none;
    box-shadow: none;
    padding: 0;
    background: none;
}

#ham_icon span {
    display: block;
    width: 42px;
    height: 4px;
    background-color: var(--colour-main);
    margin: 5px auto;
    border-radius: 5px;
}

#ham_menu_detail {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 30vw;
    background: var(--colour-bg-header);
    text-align: left;
        z-index: 5;
}

@media screen and (max-width:700px ){
    #ham_menu_detail {
        width: 60vw;
    }
}

#ham_menu_detail a {
    color: white;
    transition: color 0.3s ease;
}

.nav_title,
#category_list a {
    margin: 15px auto;
    margin-right: 20px;
    border-bottom: 2px solid var(--colour-text);
    cursor: pointer;
}

#ham_menu_detail a:hover,
#ham_menu_detail a:active {
    color: var(--colour-main)
}

#close_icon {
    height: 42px;
    width: 42px;
    margin-top: 20px;
    border: none;
    box-shadow: none;
    background: none;
    margin-left: 15px;
}

#close_icon span {
    display: block;
    width: 42px;
    height: 4px;
    background-color: var(--colour-main);
    margin: 5px auto;
    border-radius: 5px;
    transform-origin: 15px 0px;
}

#close_icon span:first-child {
    transform: rotate(45deg);
} 

#close_icon span:last-child {
    transform: rotate(-45deg);
} 

#ham_menu_list {
    margin-bottom: 50px;
}

#category_list {
    display: none;
}

.nav_title li,
#category_list li {
    list-style: none;
    font-family: var(--font-primary);
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 5px;
}

#category_list li {
    font-weight: normal;
    margin-bottom: 10px;
}

.nav_title a {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
}

.nav_title img {
    height: 15px;
    margin: auto 10px;
}

.chevron_right_rotate {
    transform: rotate(90deg);
    transition: all .3s linear;
}

/* categories-bar */
.categories_bar {
    overflow-x: auto;
    white-space: nowrap;
    background: var(--colour-nav-mobile);
    border-radius: 10px;
    text-align: left;
    margin: 0 0 30px;
    padding: 0;
}

.categories_bar::-webkit-scrollbar {
    display: none;
}

.categories_bar > li {
    display: inline-table;
    width: 100px;
    height: 100px;
    margin: 20px 20px;
    border-radius: 10px;
    background-color: white;
    text-align: center;
}

.categories_bar a {
    font-family: var(--font-secondary);
    font-size: 12px;
    color: black;
}

.categories_bar img {
    margin: 10px auto;
}

.categories_bar p {
    margin: 0;
}

.each_category > a:active,
.each_category > a:hover  {
    color: var(--colour-main);
    border-bottom: 2px solid var(--colour-main);
    padding-bottom: 15px;
}

.categories_bar > li:hover {
    transform: scale(1.25);
    box-shadow: 0 10px 50px 0 var(--colour-main);
}

/* side bar */
.side_bar {
    width: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    position: fixed;
    left: calc(100% - 40px);
    top: 350px;
    z-index: 5;
}

.side_bar > a {
    width: 40px;
    height: 40px;
    background-color: #CE4A0E;
    margin: 2px 0;
}

.side_bar img {
    margin: 10px auto;
}


/* home page style */
/* banner */
#banner #carousel_wrap {
	position: relative;
	margin: 20px auto;
	width: 100%;
	overflow: hidden;
}

#banner #carousel_wrap #carousel_images {
	position: absolute;
	border: 0;
	outline: none;
	white-space: nowrap;
	width: 100%;
	font-size: 0;
	margin: 0px; 
}

#carousel_images > img {
    width: 100vw;
    height: 40vw;
}

.arrow_contain {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    margin: 20vw 40px;
}

.arrow_contain > .arrow {
    width: 40px;
    height: 40px;
    opacity: 0.5;
	font-weight: bold;
	font-size: 30px;
    background-color: #80D49F;
	color: lightgray;
	transform: translateY(-50%);
	cursor: pointer;
	transition-property: opacity;
	transition-duration: 0.5s;
    text-align: center;
}

#banner #carousel_wrap .arrow:hover {
	opacity: 1;
}

#banner #carousel_wrap .left-arrow {
	left: 40px;
}

#banner #carousel_wrap .right-arrow {
	right: 40px;
}

#banner #carousel_wrap #dots {
	position: absolute;
	bottom: 10px;
	left: 50%;
	transform: translateX(-50%)
}

#banner #carousel_wrap .dot {
	background-color: var(--colour-text);
	display: inline-block;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	margin: 4px;
	cursor: pointer;
}

#banner #carousel_wrap .active {
    width: 40px;
    height: 10px;
    border-radius: 6px;
    background-color:#80D49F;
	opacity: 1;
}

.transition {
	transition-property: left;
	transition-duration: 2s;
}

/* New Arrivals - mobile ver*/
h2 {
    color: var(--colour-bg-footer);
    font-family: var(--font-primary);
    font-size: 30px;
    font-weight: bold;
    margin-top: 40px;
}

.one_product {
    width: 250px;
    height: 350px;
    background-color: #DBDBDB;
    border-radius: 10px;
    font-family: var(--font-secondary);
    margin: 0 auto 30px auto;
    position: relative;
}

.game_type {
    color: #80D49F;
    font-size: 15px;
    font-weight: bold;
    display: flex;
    margin: 15px;
    padding-top: 15px;
}

.each_block > .one_product {
    margin: 30px auto 30px auto;
    padding: 0%;
}

.each_block .game_type {
    padding-top: 15px;
}

.best_sale_contain {
    display: block;
    width: 80px;
    height: 25px;
    background-color: #A30414;
    border-radius: 0 10px 0 10px;
    font-size: 12px;
    color: white;
    position: absolute;
    right: 0px;
    top: 0px;
    line-height: 25px;
}

.sale_contain {
    width: 40px;
    height: 40px;
    background-color: var(--colour-main);
    color: white;
    border-radius: 10px;
    line-height: 15px;
    position: absolute;
    left: 50px;
}

.sale_contain > span {
    font-size: 12px;
    margin: 0;
    padding: 0;
}

.out_of_stock {
    width: 70px;
    height: 20px;
    background-color: #B777FF;
    color: white;
    border-radius: 10px;
    font-size: 10px;
    position: absolute;
    top: 180px;
    left: 130px;
    line-height: 20px;
}

.product_img_contain {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: white;
    margin: 20px auto;
}

.product_img_contain img {
    width: 100px;
    height: 100px;
    margin: 25px;
}

.product_img_contain img:hover {
    transform: scale(1.5);
    border-radius: 50%;
    box-shadow: 0 10px 50px 0 var(--colour-main);
}

.product_name {
    color: var(--colour-bg-footer);
    font-size: 12px;
    font-weight: bold;
    margin: auto;
    line-height: 15px;
}

.price_contain {
    margin-top: 20px;
    margin-bottom: 10px;
}

.true_price {
    font-size: 20px;
    font-weight: bold;
    color: #CE4A0E;
}

.pre_price {
    font-size: 12px;
    font-weight: bold;
    text-decoration: line-through 2px var(--colour-bg-footer);
}

.add_to_cart {
    width: 120px;
    height: 30px;
    border-radius: 10px;
    background-color: var(--colour-main);
    color: white;
    font-size: 10px;
    font-weight: bold;
    margin-right: 25px;
    opacity: 1;
}

.add_to_cart:hover {
    background-color: #CE4A0E;
}

.disabled {
    opacity: 0.2;
    cursor: not-allowed;
}

.disabled:hover {
    color: none;
}

.add_to_wish_list {
    width: 30px;
    height: 30px;
    background: none;
    border: 2px solid var(--colour-main);
    border-radius: 6px;
    padding: 0;
}

.add_to_wish_list:hover {
    background-color: #CE4A0E;
    transition: 1s linear;
}

.add_to_wish_list > img {
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

.arrow_new_arrivals_contain {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
}

.arrow_new_arrivals {
    width: 80px;
    height: 40px;
    margin: 0 20px 20px 20px;
    background: none;
    color: black;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
}

.arrow_new_arrivals:hover {
    background-color: var(--colour-main);
}

#new2, #new3, #new4 {
    display: none;
}

@media screen and (min-width:1000px ) {
    .product_contain {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: row;
    }

    .game_type {
        padding-top: 0;
    }

    #new2 {
        display: block;
    }

    .featured_product_contain {
        display: flex;
        flex-wrap: wrap;
    }
 
    .featured_product_contain > .each_block {
        width: 24%;
    }

    .featured_product_contain > .each_block:not(:nth-child(4n)) {
        margin-right: calc(4%/3);
    }
}

/* about Our store - mobile ver*/
.about_store {
    background-color: var(--colour-main);
    margin: 25px 0;
    padding: 20px 0 50px;
}

.about_store > h2 {
    margin: 0 auto 30px;
    color: white;
}

.paragraph {
    padding: 0 20px;
}

.paragraph1 {
    display: grid;
    grid-template-columns: 2fr 1fr;

}

.paragraph1 > img {
    width: 140px;
    height: 110px;
    margin: 0 20px 20px 20px;
}

.about_store p {
    color: var(--colour-bg-footer);
    text-align: left;
    font-size: 14px;
    margin: 0;
}

/* featured games - mobile ver*/
#featured_games {
    margin-bottom: 100px;
}

.featured_bnt_contain {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
}

.feat_bnt {
    margin: 10px 15px;
    width: 100px;
    height: 30px;
    background-color: white;
    color: var(--colour-text);
    border: 2px solid var(--colour-bg-footer);
    border-radius: 10px;
    font-weight: bold;
}

.feat_bnt_active,
.feat_bnt:hover {
    border: none;
    background-color: var(--colour-bg-footer);
    color: white;
}

.more_bnt {
    float: right;
    margin-right: 4%;
}

.more_bnt::after {
    clear: both;
    display: block;
}


/* product_list page style - mobile ver*/
/* page title */
.page_title_contain {
    height: 120px;
    background-color: var(--colour-main);
    margin: 40px auto;
    padding: 30px 65px;
    font-family: var(--font-primary);
    text-align: left;
}

.page_nav {
    font-size: 14px;
    font-weight: bold;
    color: #CE4A0E;
}

.page_nav a {
    font-weight: normal;
    color: black;
}

.page_nav a:hover {
    color: #CE4A0E;
    border-bottom: 1px solid #CE4A0E;
}

.page_title {
    font-size: 25px;
    font-weight: bold;
    color: white;
}


/* filter box */
.filter_contain {
    width: 400px;
    text-align: left;
    margin-left: 10vw;
    padding: 0;
    display: none;
}

.filter_contain > li {
    list-style: none;
    border-bottom: 2px solid var(--colour-text);
    padding: 10px 0 20px 0;
}

.filter_title {
    font-family: var(--font-secondary);
    font-size: 25px;
    font-weight: bold;
    color: black;
}

/* filter search bar */
.filter_search_text {
    width: 400px;
}

/* Available */
.switch-btn{
	width: 45px;
	height: 25px;
	position: relative;
	top: 1px;
    float: left;
}
.hidden-checkbox,
.switch-area,
.switch-toggle{
	position: absolute;
	top: 0;
	left: 0;
}
.hidden-checkbox{
	width: 45px;
    height: 25px;
	opacity: 0;
	z-index: 10;
	cursor: pointer;
}
.switch-area{
	width: 100%;
	height: 100%;
	border-radius: 25px;
	background-color: var(--colour-text);
    border: 1px solid var(--colour-text);
}
.switch-toggle{
	width: 25px;
	height: 25px;
	border: 1px solid var(--colour-text);
	border-radius: 50%;
	background-color: white;
}
.hidden-checkbox:checked ~ .switch-area{
	background-color: #CE4A0E;
}
.hidden-checkbox:checked ~ .switch-toggle{
	border: 1px solid #CE4A0E;
	left: 20px;
}
.switch-area,
.switch-toggle{
	-webkit-transition: All 0.3s ease; 
	   -moz-transition: All 0.3s ease; 
	     -o-transition: All 0.3s ease;
	        transition: All 0.3s ease; 
}
.available_contain> span {
    float: right;
}

/* price range */
.price_range > p:nth-child(1) {
    float: left;
}
.price_range > p:nth-child(2) {
    float: right;
}
.price_range > input[type="range"] {
    -webkit-appearance: none;
    width: 400px;
    height: 10px;
    border-radius: 6px;
    outline: none;
    background: var(--colour-text);
}
.price_range > input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance: none;
    position: relative;
    width:20px;
    height:20px;
    background:var(--colour-main);
    border-radius:50%;
    transition:.2s;
}

/* filter Category */
.category_contain ul{
    list-style: none;
}
.each_cate_filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
}
.board_filter {
    color: black;
}
.cate-checkbox {
    width: 20px;
    height: 20px;
}

/* product_display */
/* function bar layout*/
.function_bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    margin-left: 65px;
}
.function_bar > div {
    margin-bottom: 20px;
}
/* layout shown button */
.layout_change_contain {
    width: 130px;
    height: 50px;
    border: 2px solid black;
    border-radius: 10px;
}
.layout_change_contain button {
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    box-shadow: none;
}
.layout_change_contain img {
    margin: 10px 15px;
}
.layout_change_contain > button:nth-child(1) {
    border-right: 1px solid black;
}

/* page num navigation */
.page_num_contain {
    width: 250px;
    height: 45px;
    border-top: 1px solid var(--colour-text);
    border-bottom: 1px solid var(--colour-text);
    margin: 10px 0;
}
.page_num_contain button{
    box-shadow: none;
    margin: 15px 5px;
}
.page_active {
    background-color: black;
    color: white;
}

/* sort bar */
.sort_bar_contain {
    width: 240px;
    margin: 20px 0;
}

.sort {
    width: 240px;
    height: 40px;
    outline: none;
    border-radius: 18px;
    border: 1px solid #ccc;
    text-indent: 10px;
    float: left;
}

.sort_btn {
    border: none;
    box-shadow: none;
    height: 35px;
    width: 35px;
    background: none;
    float: right;
    margin-top: -37px;
}



/* footer */
footer {
    background-color: var(--colour-bg-footer);
    overflow: hidden;
}

.footer_logo_mobile,
.footer_logo_desktop {
    margin: auto;
    border-radius: 0;
    background: none;
}

.footer_logo_mobile > img,
.footer_logo_desktop > img {
    margin-top: 20px;
}

.footer_logo_desktop > img {
    margin-bottom: -100px;
}

.info_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
}

/* Newsletter + Find Us + About Us + Categories + Customer service*/
.newsletter,
.sunscribe_bar {
    width: 295px;
    text-align: left;
    margin-top: 15px;
    margin-bottom: 20px;
}

.sunscribe_bar > span,
.findus > span,
.aboutus > span,
.categories > span,
.customerservice > span {
    font-family: var(--font-primary);
    font-size: 25px;
    font-weight: bold;
    color: var(--colour-main);
    margin: 5px 40px;
}

.subscribe_enter,
.subscribe_bnt {
    width: 295px;
    height: 30px;
    outline: none;
    border: 2px solid var(--colour-text);
    border-radius: 5px;
    margin: 5px 40px;
}

.subscribe_bnt {
    width: 303px;
    border: 2px solid #CE4A0E;
    background-color: #CE4A0E;
    color: white;
    font-weight: bold;
    font-size: 20px;
}

/* Find Us + About Us + Categories + Customer service*/
.findus,
.aboutus,
.categories,
.customerservice {
    text-align: left;
    margin: 20px 0;
}

.findus_list > li,
.aboutus_list > li,
.categories_list > li,
.customer_service_list > li {
    list-style: none;
    margin: 10px auto;
    display: flex;
    color: white;
    font-family: var(--font-secondary);
    font-size: 14px;
}

.aboutus_list a,
.categories_list a {
    text-decoration: none;
    color: white;
}

.aboutus_list a:hover,
.categories_list a:hover {
    color: var(--colour-main);
    border-bottom: 1px solid var(--colour-main);
}

.location > img,
.phone > img,
.mail > img,
.open_time > img {
    margin-right: 15px;
}

/* footer_social_icons */
.footer_social_icons {
    text-align: right;
    border-bottom: 1px solid;
    margin: auto 40px;
}

.foot_icon {
    margin: 30px 12px;
}

/* copyright + payment method*/
.copyright_contain {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.copyright {
    text-align: left;
    margin: 30px 40px 0 40px;
}

.copyright > span {
    color: var(--colour-main);
}

.payment_method {
    text-align: left;
    margin: 20px 20px 20px 20px;
}

.payment_method > img {
    width: 80px;
    height: 50px;
}


/* desktop version */
@media screen and (min-width:1750px ) {
    /* nav-bar  - desktop ver*/
    .nav_desktop ul {
        padding: 0;
    }

    .nav_mobile,
    .logo_mobile {
        display: none;
    }

    .nav_desktop {
        display: block;
    }

    .header_nav a:active,
    .header_nav a:hover,
    #head_category_list a:active,
    #head_category_list a:hover {
        color: var(--colour-main);
        border-bottom: 1px solid var(--colour-main);
        transition: color 0.3s ease;
    }
    
    nav {
        background-color: var(--colour-bg-header);
        height: 100px;
    }
    
    .nav_desktop {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
    }
    
    .nav_desktop > * {
        margin: 0.5rem;
        list-style-type: none;
    }
    
    .header_login a {
        text-decoration: none;
        font-weight: bold;
        color: #F9943B;
        transition: color 0.3s ease;
    }

    .header_login a:hover,
    .header_login a:active {
        border-bottom: 2px solid var(--colour-main);
        transition: color 0.3s ease;
    }
    
    .header_nav {
        margin-left: 140px;
    }
    
    .social_icons {
        margin-right: 140px;
    }

    #head_category_list {
        width: 180px;
        list-style: none;
        background-color: var(--colour-bg-header);
        position: fixed;
        text-align: left;
        margin-left: -10px;
        margin-top: 3px;
    }
    
    #head_category_list li {
        padding: 10px;
    }

    .nav_desktop > li:hover #head_category_list {
        display: block;
    }

    /* logo + search_bar  - desktop ver*/
    .logo_desktop {
        display: block;
    }

    .hum_menu {
        display: none;
    }

    .search_bar_box {
        margin: 0;
    }

    .logo_bar {
        height: 100px;
        display: flex;
        justify-content: space-between;
        margin: 50px 10vw;
        border-bottom: 1px solid;
    }

    #ham_menu,
    #ham_menu_detail {
        display: none;
    }

    .categories_bar {
        margin: 20px 10vw;
        margin-bottom: 50px;
    }

    /* New arrivals  - desktop ver*/
    h2 {
        font-size: 80px;
    }

    #new2, #new3, #new4 {
        display: block
    }

    /* about our store  - desktop ver*/
    .paragraph {
        padding: 0 50px;
    }

    .paragraph1 > img {
        width: 640px;
        height: 500px;
    }

    .about_store p {
        font-size: 30px;
        line-height: 50px;
    }


    /* product_list page style - desktop ver*/
    /* page title */
    .page_title_contain {
        height: 200px;
        padding: 50px 10vw;
    }

    .page_nav {
        font-size: 25px;
    }

    .page_title {
        font-size: 50px;
    }

    /* filter box */
    .filter_contain {
        display: block;
    }

    .product_display,
    .products_list_shown {
        margin-right: 10vw;
    }

    .function_bar > div {
        margin: 20px;
        margin-left: 50px;
    }

    .products_list_shown {
        display: block;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
    }
    
    

}


